@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-secondary hover:bg-emerald-600 text-white font-semibold py-3 px-6 rounded-lg transition-all duration-200 shadow-lg hover:shadow-xl;
  }
  .btn-secondary {
    @apply bg-primary hover:bg-slate-800 text-white font-semibold py-3 px-6 rounded-lg transition-all duration-200;
  }
}
